<div class="row">
    <div class="col-md-6 offset-3 text-center">
        <h2 class="mb-5">¡Recurso no encontrado!</h2>
        <a class="btn btn-outline-primary" asp-controller="Movies" asp-action="Index">Volver a Inicio</a>
    </div>
</div>